llama-parse
cohere
qdrant-client
pydantic
python-dotenv
tqdm
tenacity
fastapi
uvicorn[standard]
langchain
langchain-core
langchain-community
langchain-google-genai
langgraph
python-multipart
httpx
motor
pymongo
dnspython